.mvl-characters-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var( --space-lg);
    
}
.mvl-characters-page-header{
    background-image: url("/assets/images/characters_banner.jpeg");
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
    flex-direction: column;
    width: 100%;
}

.mvl-navbar{
    padding: 10px;
    background-color: var(--color-primary-dark);
    height: 60px;
    display: inline-flex;
    width: 100vw;
    justify-content: space-between;
    padding: 16px 100px;
    box-sizing: border-box;
}

.mvl-navbar--left{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.mvl-navbar-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mvl-navbar-item--text{
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bold;
    &:hover{
        color: var(--color-primary-light);
    }
}

.mlv-navbar__image{
    margin-right: 60px;
}

.mvl-navbar__actions{
    height: 100%;
    gap: 16px;
}


.mvl-navbar--right{

    

}


.mvl-navbar__actions{
    display: flex;
    justify-content: space-between;
}

.mvl-navbar__img{
    max-height: 100%;
}

.mvl-container-search {
    width: none;
    height: 2000vw;
    display: flex;
    align-items: flex-start;
    justify-content:space-around;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 230px ;
    margin-bottom: 20px;  
}

 .mvl-container-search-left {
    border: 0;
    border-bottom: 2px solid #151515;
    width: 93%;
    padding-bottom: 0.4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
 }

.search-container__icon2{
    color: #191919;
    position: absolute;
    width: 100px;
    height: 20px;
    left: -9px;
    top: 51.5%;
    transform: translateY(-52%);
    font-size: 18px;
    font-size:x-small;
}

.mvl-container-select-Movie{
    display: inline-block;
	width: 2%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 2px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
    border-color: #151515;
	background: rgb(99, 54, 54);
	color: rgb(255, 255, 255);
	font-size: 1em;
	color: rgb(0, 0, 0);
	font-family: 
	'Quicksand', sans-serif;
    position: relative;
    transition: all 0.25s ease;
}
.mvl-container-select-TV{
    display: inline-block;
	width: 2%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 15px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
    border-color: #151515;
	background: rgb(87, 99, 54);
	color: rgb(255, 255, 255);
	font-size: 1em;
	color: rgb(0, 0, 0);
	font-family: 
	'Quicksand', sans-serif;
    position: relative;
    transition: all 0.25s ease; 
}