

.mvl-character-gri-filters{
    display: flex;
    gap: var(--space-lg);
    padding: var(--space-md) 0;
    width: 100%;
    box-sizing: border-box;
}
 .mvl-container-search-left {
    border: 0;
    border-bottom: 2px solid #151515;
    width: 50%;
    text-align: left;
    padding-bottom: 0.4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
 }
 .mvl-container-search-left:focus{ 
    outline: 2px solid #e8b63e;
 }


.search-container__icon{
    position: absolute;
    color: #191919;
     
}

// .mvl-container-select-Movie{
//     display: inline-block;
// 	width: none;
// 	cursor: pointer;
//   	padding: 7px 10px;
//   	height: 14vw;
//   	outline: 0; 
//   	border: 0;
// 	border-radius: 0;
//     border-color: #151515;
// 	background: rgb(99, 54, 54);
// 	color: rgb(255, 255, 255);
// 	font-size: 1em;
// 	color: rgb(0, 0, 0);
// 	font-family: 
// 	'Quicksand', sans-serif;
//     position: relative;
//     transition: all 0.25s ease;
    
// }
// .mvl-container-select-TV{
    
//     display: inline-block;
// 	width: 2%;
// 	cursor: pointer;
//   	padding: 7px 70px;
//   	height: 15px;
//   	outline: 0; 
//   	border: 0;
// 	border-radius: 0;
//     border-color: #151515;
// 	background: rgb(87, 99, 54);
// 	color: rgb(255, 255, 255);
// 	font-size: 1em;
// 	color: rgb(0, 0, 0);
// 	font-family: 
// 	'Quicksand', sans-serif;
//     position: relative;
//     transition: all 0.25s ease; 


.container{
    position:relative;
    width: 100%;
    margin: 80px auto 30px;
    background-color: #fff;
 
}

.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
    background-color:  #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);


}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: red;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn{
   transform: rotate(-180eg);  
}

.list-items  {
    position: relative;
    margin-top: 15px;
    padding: 16px;
    background-color: #fff ;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    // display: none;
   
}

.select-btn.open ~ .list-items{
  display: block;
   
}

.list-items .item{
   display: flex;
   align-items: center;
   list-style: none;
   height: 50px;
   cursor: pointer;
   transition: 0.3s;
   padding: 0 15 px;
}

.list-items .item:hover{
   background-color: #e7edfe;
 }

.item .item-text{
   font-size: 16px;
   font-weight: 400;
   color: #333;
 }

.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #151515;
    transition: all 0.3s ease-in-out;
   
}

.item.checked .checkbox{
    background-color:#e7edfe;
    border-color:#e7edfe;
    }
    

.checkbox .check-icon{
font-size:11px;
transform: scale(0);
transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
    }