.mvl-grid-items {
  width: 90%;
    display:block;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 30px;
}
.mvl-grid-6{
  grid-template-columns: repeat(6, 4fr);
  display:inline-grid;
  margin: 100px 100px;
  background-color: whitesmoke;
  padding: 10px;
  gap: 15px;
  margin: 10px;
}